@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
}


.logo-uploader {
    width: fit-content !important;
}

.logo-uploader .ant-upload-select {
    margin: 0 !important;
    background-color: rgb(241 245 249) !important;
    border: 1px dashed rgb(209 213 219) !important;
}


/* clears the 'X' from Internet Explorer */
input[type=search]::-ms-clear,
input[type=search]::-ms-reveal {
    display: none;
    width: 0;
    height: 0;
}

/* clears the 'X' from Chrome */
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
    display: none;
}




.inline-flex input {
    outline: none !important;
    box-shadow: none !important;
    border: none !important;
    padding-right: 0 !important;
    padding-left: 0 !important;
}

.inline-flex textarea {
    outline: none !important;
    box-shadow: none !important;
    border: none !important;
    padding-right: 0 !important;
    padding-left: 0 !important;
}