@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
}


.logo-uploader {
    width: fit-content !important;
}

.logo-uploader .ant-upload-select {
    margin: 0 !important;
    background-color: rgb(241 245 249) !important;
    border: 1px dashed rgb(209 213 219) !important;
}